/* .button{
    padding: 10px 15px;
    margin: auto;
    border-radius: 4px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
} */
.page{
    display: flex;
    align-items: center;
    height: 600px;
}
/* h1{
    text-align: center;
} */
.box{
   
    margin: auto;
    border: solid 2px;
    border-color: darkred;
    width: 350px;
    height: 500px;
    background-color: wheat;
    
    
}
/* .inside-box{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
} */